body {
    font-family: 'Noto Sans', sans-serif;
}

#map {
    height: 60vh;
}

.mapboxgl-ctrl-geocoder {
    min-width: 100%;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 20px;
    padding: 15px;
    margin-bottom: 10px;
    font-family: 'Noto Sans', sans-serif;
    border-bottom: solid rgba(128, 128, 128, 0.473) .5px;
    
}